doctype html
html
  head
    title Tomorrow.Today
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    scripts(src='/public/bootstrap.js')
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js")

  body
    block content