doctype html
html
  head
    title Tomorrow.Today
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    scripts(src='/public/bootstrap.js')
  body
    block content